.m-5 {
    margin: 5;
}

.m-10 {
    margin: 10;
}

.m-15 {
    margin: 15;
}

.m-20 {
    margin: 20;
}

.home-list Button {
    border-width: 1;
    border-color: #3e495c;
    border-radius: 4;
    margin: 6;
    font-size: 14;
    text-transform: none;
    height: 34;
    padding: 4 8;
    color: #fff;
    background-color: #52617a;
}